<%= render :partial => 'shared/top', 
  :locals => { :icon => 'fa fa-vcard fa-2x', :model => Supplier,
               :new_path => new_site_supplier_path, :new_path_hint => 'Novo Fornecedor' } %>    
</p>

<%= form_tag site_suppliers_path(format: :js), method: :get, remote: true do %>
  <div class="form-group row">
    <div class="col-sm-11">
      <%= text_field_tag 'search_text', '', class: "form-control" %>
    </div>
    <div class="col-sm-1">
      <%= button_tag :class => "btn btn-primary float-right" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
  </div>
<% end %> 

</p>


<div id="table_suppliers" class="col-sm-12">
  <%= render :partial => 'suppliers' %>
</div>

<%= paginate @suppliers %>
