<%= render :partial => 'shared/top', 
  :locals => { :icon => 'fa fa-vcard fa-2x', :model => Supplier,
               :new_path => new_site_supplier_path, :new_path_hint => 'Novo Fornecedor' } %>    
</p>

<div class="col-sm-12">
<%= form_tag site_suppliers_path(format: :js), method: :get, remote: true do %>
  <div class="row">
    <div class="col-lg-11 col-md-11">
      <%= text_field_tag 'search_text', '', class: "form-control" %>
    </div>
    <div class="col-lg-1 col-md-1">
      <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %> 
</div>

</p>


<div id="table_suppliers" class="col-sm-12">
  <%= render :partial => 'suppliers' %>
</div>

<%= paginate @suppliers %>
