</br>

<%= render :partial => 'shared/errors', :locals => { :model => @customer} %>        

<%= form_for [:site, @customer] do |f| %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <%= operation %>
        </div>
        <div class="card-block">  
          </br>     
          <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">    
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <%= f.label :fullname %>:
                <%= f.text_field :fullname, :class =>"form-control" %>
              </div>           
            </div>           
            </br>
            <div class="row">
              <div class="col-md-9 col-lg-9">
                <%= f.label :email %>:
                <div class="input-group"> 
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                  </div>
                  <%= f.text_field :email, :class =>"form-control" %>
                </div>                                      
              </div>
              <div class="col-md-3">
                <%= f.label :phone %>:
                <div class="input-group"> 
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></div>
                  </div> 
                  <%= f.telephone_field :phone, :class =>"form-control" %>
                </div>                                        
              </div>
            </div>
            </br>

            <!-- tabela relacionada de endereços!-->
            <%= render :partial => 'shared/address', :locals => { :f => f, :_model => @customer, 
                :_address => :customer_address, :_state => @customer.customer_address.state, 
                :_buttonLabel =>"customer"} %>       

            <!-- Botões de Confirmar e Cancelar-->     
            <%= render :partial => 'shared/submit', :locals => { :f => f, :path => site_customers_path} %>        
          </div>
        </div>
      </div> 
    </div>
  </div>
<% end %>

</br>
</br>


