<%= render :partial => 'shared/top', 
  :locals => { :icon => 'fa fa-user fa-2x', :model => Customer,
               :new_path => new_site_customer_path, :new_path_hint => 'Nova Empresa' } %>       

</p>

<div class="col-sm-12">
<%= form_tag site_customers_path(format: :js), method: :get, remote: true do %>
  <div class="row">
    <div class="col-lg-11 col-md-11">
      <%= text_field_tag 'search_text', '', class: "form-control" %>
    </div>
    <div class="col-lg-1 col-md-1">
      <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %> 
</div>

</p>

<div id ="table_customers" class="col-sm-12">
  <%= render :partial => 'customers' %>
</div>

<%= paginate @customers %>
