</br>
</br>

<%= render :partial => 'shared/errors', :locals => { :model => @user} %> 

<%= form_for [:site, @user] do |f| %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <%= operation %>
        </div>
        <div class="card-block">  
          </br>     
          <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
           <div class="row">
              <div class="col-md-12 col-lg-12">
                <%= f.label :user_type %>:
                <%= f.collection_radio_buttons(:user_type, User.user_types_i18n, :first, :last) do |b| %>
                  <div class="radio">
                    <%= b.label { b.radio_button + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>   
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <%= f.label :name %>:
                <%= f.text_field :name, :class =>"form-control" %>
              </div>            
            </div>           
            </br>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <%= f.label :email %>:
                <div class="input-group"> 
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                  </div>
                  <%= f.text_field :email, :class =>"form-control" %>
                </div>                                      
              </div>
            </div>
            </br>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                  <%= f.label :password %>:
                  <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>
              </div>
              <div class="col-md-6 col-lg-6">
                  <%= f.label :password_confirmation %>:
                  <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da senha" %>
              </div>
            </div>
            </br>

            <!-- tabela relacionada de endereços!-->
            <%= render :partial => 'shared/address', :locals => { :f => f, :_model => @user, 
                :_address => :user_address, :_state => @user.user_address.state, 
                :_buttonLabel =>"user"} %>  
                    
            <!-- tabela NxN de usuários versus convênios !-->
            <hr>
            <h3>Convênios</h3> </br>
            <div id="user_covenants">
              <%= f.fields_for :user_covenants do |covenant| %>  
                <div class="row">     
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">     
                    <div id="nested-fields">
                      <%= render partial: "user_covenant_fields", locals: {f: covenant}%>
                      </br>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="field">
                </br>
                <%= link_to_add_association button_tag('Adicionar', type: "button", class: "btn btn-primary"), f, :user_covenants %>
              </div>
            </div>
            <hr>

            <!-- Configurações -->
            <div class="row">
              <%= f.fields_for :user_configuration do |configuration| %>
                <div class="col-md-12">
                  <label class="checkbox"><%= configuration.check_box :monday_schedule, :class =>"checkbox" %> Segunda-Feira</label>
                  <label class="checkbox"><%= configuration.check_box :tuesday_schedule, :class =>"checkbox" %> Terça-Feira</label>
                  <label class="checkbox"><%= configuration.check_box :wednesday_schedule, :class =>"checkbox" %> Quarta-Feira</label>
                  <label class="checkbox"><%= configuration.check_box :thursday_schedule, :class =>"checkbox" %> Quinta-Feira</label>
                  <label class="checkbox"><%= configuration.check_box :friday_schedule, :class =>"checkbox" %> Sexta-Feira</label>
                  <label class="checkbox"><%= configuration.check_box :saturday_schedule, :class =>"checkbox" %> Sábado</label>
                  <label class="checkbox"><%= configuration.check_box :sunday_schedule, :class =>"checkbox" %> Domingo</label>
                </div>
              <% end %>
            </div>

            <!-- Botões de Confirmar e Cancelar-->                
            <%= render :partial => 'shared/submit', :locals => { :f => f, :path => site_users_path} %>        
          </div>
        </div>
      </div> 
    </div>
  </div>
<% end %>

</br>
</br>


