</br>
</br>

<%= render :partial => 'shared/errors', :locals => { :model => @user} %> 

<%= form_for [:site, @user] do |f| %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <%= operation %>
        </div>
        <div class="card-block">  
          </br>     
          <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
           <div class="row">
              <div class="col-md-12 col-lg-12">
                <%= f.label :user_type %>:
                <%= f.collection_radio_buttons(:user_type, User.user_types_i18n, :first, :last) do |b| %>
                  <div class="radio">
                    <%= b.label { b.radio_button + b.text } %>
                  </div>
                <% end %>
              </div>
            </div>   
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <%= f.label :name %>:
                <%= f.text_field :name, :class =>"form-control" %>
              </div>            
            </div>           
            </br>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <%= f.label :email %>:
                <div class="input-group"> 
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                  </div>
                  <%= f.text_field :email, :class =>"form-control" %>
                </div>                                      
              </div>
            </div>
            </br>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                  <%= f.label :password %>:
                  <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>
              </div>
              <div class="col-md-6 col-lg-6">
                  <%= f.label :password_confirmation %>:
                  <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da senha" %>
              </div>
            </div>
            </br>

            <!-- tabela relacionada de endereços!-->
            <hr>
            <h3>Endereço</h3> </br>
            <%= f.fields_for :user_address do |user_address| %>
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <%= user_address.label :zip %>:
                  <%= user_address.text_field :zip, :class =>"form-control"%>
                </div>
                <div class="col-md-8">
                  <br>
                  <button type="button" name="buttonBuscar" id="buttonBuscar_user" class="btn btn-success buttonBox">Buscar Endereço</button>
                </div>            
              </div>
              </br>
              <div class="row">
                <div class="col-lg-8 col-md-8">
                  <%= user_address.label :address1 %>:
                  <%= user_address.text_field :address1, :class =>"form-control" %>
                </div>
                <div class="col-lg-4 col-md-4">
                  <%= user_address.label :number %>:
                  <%= user_address.text_field :number, :class =>"form-control" %>
                </div>              
              </div>
              </br>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <%= user_address.label :address2 %>:
                  <%= user_address.text_field :address2, :class =>"form-control" %>
                </div>             
                <div class="col-lg-6 col-md-6">
                  <%= user_address.label :neighborhood %>:
                  <%= user_address.text_field :neighborhood, :class =>"form-control" %>
                </div>              
              </div>
              </br>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <%= user_address.label :city %>:
                  <%= user_address.text_field :city, :class =>"form-control" %>
                </div>
                <div class="col-lg-6 col-md-6">
                  <%= user_address.label :state %>:
                  <%= user_address.select :state, options_state(@user.user_address.state), {}, {:class => "form-control"} %>
                </div>              
              </div>
              </br>
            <% end %>
            <!-- tabela NxN de usuários versus convênios !-->
            <hr>
            <h3>Convênios</h3> </br>
            <div id="user_covenants">
              <%= f.fields_for :user_covenants do |covenant| %>  
                <div class="row">     
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">     
                    <div id="nested-fields">
                      <%= render partial: "user_covenant_fields", locals: {f: covenant}%>
                      </br>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="field">
                </br>
                <%= link_to_add_association button_tag('Adicionar', type: "button", class: "btn btn-primary"), f, :user_covenants %>
              </div>
            </div>
            <hr>
            <%= render :partial => 'shared/submit', :locals => { :f => f, :path => site_users_path} %>        
          </div>
        </div>
      </div> 
    </div>
  </div>
<% end %>

</br>
</br>


