<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
<div class="menu-list">
  <ul id="menu-content" class="menu-content collapse out">
    <li>
      <a href="#">
        <i class="fa fa-dashboard fa-lg"></i> Dashboard
      </a>
    </li>
    <li>
      <%= link_to site_schedules_path, data: {"no-turbolinks": false } do %>
        <i class="fa fa-calendar fa-lg"></i><%= t 'navigation.schedule' %>
      <% end %>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-address-book-o fa-lg"></i> Tratamentos
      </a>
    </li>

    <!--Cadastros-->
    <li data-toggle="collapse" data-target="#products" class="collapsed active">
      <a href="#"><i class="fa fa-list-ul fa-lg"></i> Cadastros <span class="arrow"></span></a>
    </li>
    <ul class="sub-menu collapse" id="products">
      <li class="active">
        <% if policy(Customer).index? %>
          <%= link_to site_customers_path,{} do %>
            <%= t 'navigation.customers' %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if policy(Customer).index? %>  
          <%= link_to site_suppliers_path ,{} do %>
            <%= t 'navigation.suppliers' %>
          <% end %>
        <% end %>      
      </li>
      <li>
        <%= link_to site_covenants_path,{} do %>
          <%= t 'navigation.covenants' %>
        <% end %>
      </li>
    </ul>

    <!--Contas A Receber-->
    <li data-toggle="collapse" data-target="#service" class="collapsed">
      <a href="#"><i class="fa fa-money fa-lg"></i> Receber <span class="arrow"></span></a>
    </li>
    <ul class="sub-menu collapse" id="service">
      <li>                
        <%= link_to site_receivable_categories_path ,{} do %>
         <%= t 'navigation.receivable_categories' %>
        <% end %>
      </li>
      <li>
        <%= link_to site_receivables_path ,{} do %>
          <%= t 'navigation.receivables' %>
        <% end %>      
      </li>
    </ul>

    <!--Contas A Pagar-->
    <li data-toggle="collapse" data-target="#new" class="collapsed">
      <a href="#"><i class="fa fa-money fa-lg"></i> Pagar <span class="arrow"></span></a>
    </li>
    <ul class="sub-menu collapse" id="new">
      <li>           
        <%= link_to site_payable_categories_path ,{} do %>
          <%= t 'navigation.payable_categories' %>
        <% end %>
      </li>
      <li>
        <%= link_to site_payables_path ,{} do %>
          <%= t 'navigation.payables' %>
        <% end %> 
      </li>
    </ul>

    <!--Usuários-->
    <li>
      <%= link_to site_users_path, data: {"no-turbolinks": false } do %>
        <i class="fa fa-user fa-lg"></i><%= t 'navigation.users' %>
      <% end %>
    </li>
    
    <!--Sair-->    
    <li>
      <%= link_to destroy_user_session_path ,  method: :delete do %>
        <i class="fa fa-sign-out fa-lg"></i> <%= t 'navigation.logout' %>
      <% end %>
    </li>
  </ul>
</div>
