<%= render :partial => 'shared/errors', :locals => { :model => @schedule} %>        


<div class="modal" tabindex="-1" role="dialog" id="new_schedule">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for [:site, @schedule], :remote=>true do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">  
              <!-- Tipo da Consulta -->
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <%= f.label :schedule_type %>:
                  <%= f.collection_select :schedule_type, Schedule.schedule_types_i18n.map{ |a| [a.first,a.second] }, :first, :second, {include_blank: false}, {class: "form-control"} %>
                </div>              
              </div>

              <!-- combobox para consulta de clientes -->
              <div id="select2_customer">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <%= f.label :customer_id %>:
                    <%= f.collection_select :customer_id, @customers.all, :id, :fullname, {include_blank: false}, {class: "form-control"} %>
                  </div>
                </div>
              </div> 

              <!-- campos para cadastro básico de informações de um novo cliente em "primeira consulta"-->
              <div id="new_customer_fields">
                <div class="row">               
                   <div class="col-lg-4 col-md-4">
                    <%= f.label :new_customer_phone %>:  
                    <%= f.text_field :new_customer_phone, :class =>"form-control" %>
                  </div>  

                  <div class="col-lg-8 col-md-8">
                    <%= f.label :new_customer_name %>:  
                    <%= f.text_field :new_customer_name, :class =>"form-control" %>
                  </div>       
                </div>                          
              </div>           

              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <%= f.label :user_id %>:
                  <%= f.collection_select :user_id, @users.all, :id, :name, {include_blank: false}, {class: "form-control"} %>
                </div>                           
              </div>  
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <%= f.label :covenant_id %>:
                  <%= f.grouped_collection_select :covenant_id, @users.all, :covenants, :name, :id, :description, {}, {class: "form-control"} %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Data</label>:</label> 
                  <%= f.text_field :start, :value => @schedule.start.strftime("%d/%m/%Y"), :class =>"form-control datetimepicker" %>                                   
                </div> 
                <div class="col-md-3">
                  <label>Hora:</label>

                  <%= f.text_field :end, :value => @schedule.start.strftime("%H:%M"), :class =>"form-control datetimepicker" %>                                   
                </div>         
              </div>           
            </div>
          </div>
          </br>
          <hr>
          </br>
          <div class="row ">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <%= f.submit :class =>"btn btn-primary btn-block" %>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <%= submit_tag t("helpers.submit.cancel"), :type => :reset, :class => "btn btn-danger btn-block", "data-dismiss" => "modal", "aria-hidden" => "true" %>              
            </div>
          </div>
          </br>
        </div>
      <% end %>
    </div>
  </div>
</div>


</br>
</br>


