<%= render :partial => 'shared/top', 
  :locals => { :icon => 'fa fa-money fa-2x', :model => Payable,
               :new_path => new_site_payable_path, :new_path_hint => 'Novo Título' } %>    
</p>

<%= form_tag site_payables_path(format: :js), method: :get, remote: true do %>
  <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">    
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <%= text_field_tag 'search_text', '', class: "form-control" %>
      </div>
      <div class="col-lg-2 col-md-2">
        <%= select_tag "status", options_for_select(Payable.status_attributes_for_select, selected: ""), include_blank: true, class: "form-control" %>
      </div>
      <div class="col-lg-5 col-md-5"></div>
      <div class="col-lg-1 col-md-1">
        <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>   
</p>

<div id="table_payables" class="col-sm-12">
  <%= render :partial => 'payables' %>
</div>

<%= paginate @payables %>
