<%= render :partial => 'shared/top', 
  :locals => { :icon => 'fa fa-money fa-2x', :model => Receivable,
               :new_path => new_site_receivable_path, :new_path_hint => 'Novo Título' } %>    
</p>

<%= form_tag site_receivables_path(format: :js), method: :get, remote: true do %>
  <div class="form-group row">
    <div class="col-lg-4 col-md-4">
      <%= text_field_tag 'search_text', '', class: "form-control" %>
    </div>
    <div class="col-lg-2 col-md-2">
      <%= select_tag "status", options_for_select(Receivable.status_attributes_for_select, selected: ""), include_blank: true, class: "form-control" %>
    </div>
    <div class="col-lg-5 col-md-5"></div>
    <div class="col-sm-1">
      <%= button_tag :class => "btn btn-primary float-right" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
  </div>
<% end %> 
</p>

<div id="table_receivables" class="col-sm-12">
  <%= render :partial => 'receivables' %>
</div>

<%= paginate @receivables %>
